.entireArrayWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

h1{
  text-align: center;
}

img {
  height: 25vh;
  max-width: 25vw;
}

.setWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 177, 177);
  width: 30vw;
  margin: 1vw;
  padding-top: 3vh;
}

.name-text {
  text-align: center;
}